<header>
  <div class="logo">
    <img src="assets/logo.png" alt="Logo">
  </div>
  <nav>
    <ul class="menu">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contacto</a></li>
      <li><button class="login-button">Iniciar sesión</button></li>
    </ul>
  </nav>
</header>
<div class="image-container">
  <img src="assets/medico.png">
  <div class="text-container">
    <h1>Medicina de Excelencia</h1>
    <p>Contamos con un equipo humano y material de primer nivel para diagnóstico clínico</p>
  </div>
</div>