<header>
  <div class="logo">
    <img src="assets/logo.png" alt="Logo">
  </div>
  <nav>
    <ul class="menu">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Iniciar sesión</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main> 
  <div class="image-container">
    <img src="assets/medico.png">
    <div class="text-container">
      <h1>Medicina de Excelencia</h1>
      <p>Contamos con un equipo humano y material de primer nivel para diagnóstico clínico</p>
    </div>
  </div>
  <router-outlet></router-outlet>
